{% extends 'teacher/teacherbase.html' %}
{% load static %}
{% block content %}
    <head>
        <style>
            label > strong {
                color: #3a3b45;
            }

            .error {
                color: rgba(255, 24, 24, 0.78);
            }
        </style>
    </head>
    <div class="justify-content-center col-md-6 col-sm-4 m-auto">
        <h2 style="text-align:center;">Añadir Oferta Profesional</h2>
        <form>
            <div class="mb-3">
                <label class="form-label" for="title">
                    <strong>Título</strong>
                </label>
                <input class="form-control" type="text" id="title" placeholder="Desarrollador backend java"
                       name="title" required>
                <div class="error" id="title-error">

                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">
                    <strong>Dirección</strong>
                </label>
                <input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"
                       required>
                <div class="error" id="address-error">

                </div>
            </div>
            <div class="dropdown bootstrap-select show-tick form-control mb-3">
                <label class="form-label" for="abilities">
                    <strong>Habilidades</strong>
                </label>
                <select id="select-abilities" class="selectpicker" multiple="" aria-label="Default select example"
                        data-live-search="true"
                        name="abilities" id="abilities"
                        tabindex="null"
                        required>
                    {% for ability in abilities %}
                        <option value="{{ ability.pk }}">{{ ability }}</option>
                    {% endfor %}
                </select>
                <div class="error" id="abilities-error">

                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" id="btn-add-job-offer" type="button">Guardar</button>
                <button class="ml-2 btn btn-primary" id="btn-add-again" type="button">Guardar y añadir otro
                </button>
            </div>

        </form>
    </div>


    <script>
        //validations.
        function title_is_valid() {
            if ($('#title').val().trim() == '') {
                $('#title-error').text("Escriba el título");
                return false;
            }
            $('#title-error').text("");
            return true
        }

        function address_is_valid() {
            if ($('#address').val().trim() == '') {
                $('#address-error').text("Escriba la dirección");
                return false;
            }
            $('#address-error').text("");
            return true
        }

        function abilities_is_valid() {
            if ($('.filter-option-inner-inner').text() == 'Seleccione al menos una habilidad') {
                $('#abilities-error').text("Seleccione al menos una habilidad");
                return false;
            }
            $('#abilities-error').text("");
            return true
        }

        function all_is_valid() {
            let a = title_is_valid()
            let b = address_is_valid()
            let c = abilities_is_valid()
            return a && b && c;
        }

        // Guarda la oferta de trabajo si es válida la enrada.
        $('#btn-add-job-offer').on('click', () => {
            if (all_is_valid()) {

                let title = $('#title').val().trim();
                let address = $('#address').val().trim();
                let abilities = $("#select-abilities").val();
                let datas = {'title': title, 'address': address, 'abilities': abilities}

                $.ajax({
                    url: '{{ root }}',
                    type: "post",
                    data: datas,
                    dataType: 'json',
                    success: (data) => {
                        window.location.href = ("{% url 'detail_job_offer_root' 1 %}".replaceAll('1', data.pk));
                    },
                    error: (data) => {
                        alert(data);
                    }
                })
            }
        })

        // Guarda la oferta de trabajo si es válida la enrada.
        $('#btn-add-again').on('click', () => {
            if (all_is_valid()) {

                let title = $('#title').val().trim();
                let address = $('#address').val().trim();
                let abilities = $("#select-abilities").val();
                let datas = {'title': title, 'address': address, 'abilities': abilities}

                $.ajax({
                    url: '{{ root }}',
                    type: "post",
                    data: datas,
                    dataType: 'json',
                    success: (data) => {
                        window.location.href = ("{% url 'add_job_offer_root' %}");
                    },
                    error: (data) => {
                        alert(data);
                    }
                })
            }
        })
        // renderizado de componentes
        document.addEventListener('readystatechange', () => {
            $('.dropdown').addClass('form-control');
        })
    </script>
{% endblock %}
