{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="justify-content-center col-md-6 col-sm-4 m-auto">
        <h2 style="text-align:center;">Ajustes del sistema de recomendación</h2>
        <form method="post">
            {% for field in form.visible_fields %}

                <div class="mb-3">
                    <label class="form-label" for="title">
                        <strong>{{ field.label }}:</strong>
                    </label>
                    {{ field|add_class:'form-control'|attr:'autocomplete:off'|attr:'maxLength:3' }}

                    <div class="error" id="title-error">

                    </div>
                </div>
            {% endfor %}
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
    <script>
        function soloNumeros(e) {
            let key = window.event ? e.which : e.keyCode;
            if (key < 48 || key > 57) {
                e.preventDefault();
            }
        }

        $("#id_relevance_umbral").on('input', (e) => {
            if (e.target.value > 100 || e.target.value < 0) e.target.value = e.target.value.slice(0, e.target.value.length - 1);
            if (e.target.value.length > e.target.maxLength) e.target.value = e.target.value.slice(0, e.target.maxLength);
            soloNumeros(e)
        })
        $("#id_cant_element_to_show").on('input', (e) => {
            if (e.target.value > 100 || e.target.value < 0) e.target.value = e.target.value.slice(0, e.target.value.length - 1);
            if (e.target.value.length > e.target.maxLength) e.target.value = e.target.value.slice(0, e.target.maxLength);
            soloNumeros(e)
        })
    </script>
{% endblock %}
