{% extends 'teacher/teacherbase.html' %}
{% load static %}
{% block content %}
    <head>
        <style>
            label > strong {
                color: #3a3b45;
            }

            .error {
                color: rgba(255, 24, 24, 0.78);
            }
        </style>
    </head>
    <div class="justify-content-center col-md-6 col-sm-4 m-auto">
        <h2 style="text-align:center;">Modificar Oferta Profesional</h2>
        <form>
            <div class="mb-3">
                <label class="form-label" for="title">
                    <strong>Título</strong>
                </label>
                <input class="form-control" type="text" id="title" placeholder="Desarrollador backend java"
                       name="title" required value="{{ job_offer.title }}">
                <div class="error" id="title-error">

                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="modality">
                    <strong>Modaldiad</strong>
                </label>
                <select id="select-modality" class="form-select form-select-md" aria-label=".form-select-md"
                        name="modality" id="modality"
                        required>
                    {% for modality in modalities %}
                        <option value="{{ modality }}">{{ modality }}</option>
                    {% endfor %}
                </select>
                <div class="error" id="modality-error">

                </div>
            </div>

            <div class="mb-3" id="address-panel">
                <label class="form-label" for="address">
                    <strong>Dirección</strong>
                </label>
                <input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"
                       required value="{{ job_offer.address }}">
                <div class="error" id="address-error">

                </div>
            </div>
            <div class="dropdown bootstrap-select show-tick form-control mb-3">
                <label class="form-label" for="abilities">
                    <strong>Habilidades</strong>
                </label>
                <select id="select-abilities" class="selectpicker" multiple="" aria-label="Default select example"
                        data-live-search="true"
                        name="abilities" id="abilities"
                        tabindex="null"
                        required>
                    {% for ability in abilities %}
                        <option value="{{ ability.pk }}">{{ ability }}</option>
                    {% endfor %}
                </select>
                <div class="error" id="abilities-error">

                </div>
            </div>
            <div class="mb-3" id="description-panel">
                <label class="form-label" for="description">
                    <strong>Descripción</strong>
                </label>
                <textarea id="description" class="form-control" id="description">{% if job_offer.description != None %}
                    {{ job_offer.description }}{% endif %}
                </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" id="btn-update-job-offer" type="button">Modificar</button>
            </div>
        </form>
    </div>


    <script>
        //Properties initial
        {% if job_offer.modality == 'Teletrabajo' %}
            $('#address-panel').hide();
        {% endif %}
        $("#description").text("{{ job_offer.description }}".trim())

        function load_select() {
            //cargar los datos del select
            let select = document.querySelector('#select-abilities');
            let options = Array.from(select.options)
            {% for ability in abilities_select %}
                options.find(i => i.text === '{{ ability }}').selected = true;
            {% endfor %}

        }

        function load_modality_select() {
            //cargar los datos del select
            let select = document.querySelector('#select-modality');
            let options = Array.from(select.options)
            options.find(i => i.text === '{{ job_offer.modality }}').selected = true;

        }

        load_select()
        load_modality_select()

        //validations.
        function title_is_valid() {
            if ($('#title').val().trim() == '') {
                $('#title-error').text("Escriba el título");
                return false;
            }
            $('#title-error').text("");
            return true
        }

        function address_is_valid() {
            if ($('#address').val().trim() == '') {
                $('#address-error').text("Escriba la dirección");
                return false;
            }
            $('#address-error').text("");
            return true
        }

        function modality_is_valid() {
            if ($('#select-modality').val() == 'Presencial' || $('#select-modality').val() == 'Híbrido') {
                return address_is_valid();
            } else {
                $('#address').val('');
                return true;
            }
        }

        function abilities_is_valid() {
            if ($('.filter-option-inner-inner').text() == 'Seleccione al menos una habilidad') {
                $('#abilities-error').text("Seleccione al menos una habilidad");
                return false;
            }
            $('#abilities-error').text("");
            return true
        }

        function all_is_valid() {
            let a = title_is_valid()
            let b = modality_is_valid()
            let c = abilities_is_valid()
            return a && b && c;
        }

        $('#select-modality').on('change', () => {
            if ($('#select-modality').val() == 'Presencial' || $('#select-modality').val() == 'Híbrido') {
                $('#address-panel').show()
            } else {
                $('#address').val('')
                $('#address-panel').hide()
            }
        })
        // Guarda la oferta de trabajo si es válida la enrada.
        $('#btn-update-job-offer').on('click', () => {
            if (all_is_valid()) {

                let title = $('#title').val().trim();
                let modality = $('#select-modality').val();
                let address = $('#address').val().trim();
                let abilities = $("#select-abilities").val();
                let description = $("#description").val().trim();
                let datas = {
                    'pk':{{ job_offer.pk }},
                    'title': title,
                    'modality': modality,
                    'address': address,
                    'abilities': abilities,
                    'description': description
                }
                console.log(datas)
                $.ajax({
                    url: '{{ root }}',
                    type: "post",
                    data: datas,
                    dataType: 'json',
                    success: (data) => {
                        localStorage.setItem('text_message', 'Guardado satisfactoriamente.');
                        window.location.href = ("{% url 'detail_job_offer_root' 1 %}".replaceAll('1', data.pk));
                    },
                    error: (data) => {
                        alert(data);
                        console.log(data);
                    }
                })
            }
        })

        // renderizado de componentes
        document.addEventListener('readystatechange', () => {
            $('.dropdown').addClass('form-control');
        })
    </script>
{% endblock %}
