{% extends 'student/studentbase.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'src/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}
{% block content %}
    <script>
        // Notification Load
        if (localStorage.getItem('text_message')) {
            let toast = {
                title: "Correcto",
                message: localStorage.getItem('text_message'),
                status: TOAST_STATUS.SUCCESS,
                timeout: 5000
            }
            Toast.setPlacement(TOAST_PLACEMENT.TOP_RIGHT);
            Toast.setTheme(TOAST_THEME.LIGHT);
            Toast.create(toast);
            localStorage.removeItem('text_message');
        }
    </script>
    <div class="col-sm-10 col-md-10 m-auto">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <h2 style="text-align:center;">Contenidos {{ content.title }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2">
                            <label class="form-label" for="username">
                                <strong>Título: </strong>
                            </label>
                            {{ content.titulo }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="username">
                                <strong>Archivo: </strong>
                            </label>
                            {{ content.content }}
                        </div>
                        <div class="mb-2 abilities_text">
                            <label class="form-label" for="email">
                                <strong>Habilidades: </strong>
                            </label>
                            {% for ability in content.abilities.all %}
                                {{ ability }},
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="username">
                                <strong>Descripción: </strong>
                            </label>
                            {{ content.descripcion }}
                        </div>

                    </div>
                </div>

                <div class="col-12">
                    {% if count == 0 %}
                        <p style="text-align:center;">No existen contenidos para
                            recomendar. Asegúrese de
                            que la cantidad de elementos a mostrar sea distinta de 0. Para esto haga
                            click en este link <a href="{% url 'settings_root' request.user.settings.pk %}">
                                Ajustes </a>.
                        </p>
                    {% else %}
                        <div class="col-11 mx-auto">
                            <h4 style="text-align:center;">Contenidos recomendados</h4>
                            <div style="margin-left: 2%">
                                <h6>
                                    Resultados con umbral de {{ umbral }}%
                                </h6>
                            </div>
                            <table id="example" class="table table-striped mx-auto" style="margin-bottom: 25px;">
                                <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Cursos</th>
                                    <th>Habilidades</th>
                                    <th>Descripción</th>
                                    <th>Similitud</th>
                                    <!--
                                    <th>Similitud</th>
                                    -->
                                </tr>
                                </thead>
                                <tbody>
                                {% for content in data %}
                                    <tr>
                                        <td>
                                            {{ content.content.titulo }}
                                        </td>
                                        <td class="abilities_text">
                                            {% for course in content.content.curses.all %}
                                                {{ course.course_name }},
                                            {% endfor %}


                                        </td>
                                        <td class="abilities_text">
                                            {% for ability in content.content.abilities.all %}
                                                {{ ability }},
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if content.content.descripcion == "" or content.content.descripcion == Null %}
                                                -
                                            {% else %}
                                                {{ content.content.descripcion }}
                                            {% endif %}

                                        </td>

                                        <td>
                                            {% if content.similarity >= 95 %}
                                                <span class="float-right badge bg-primary">{{ content.similarity }} %</span>
                                            {% elif content.similarity < 95 and content.similarity > 80 %}
                                                <span class="float-right badge bg-info">{{ content.similarity }} %</span>
                                            {% elif content.similarity <= 80 and content.similarity > 60 %}
                                                <span class="float-right badge bg-success">{{ content.similarity }} %</span>
                                            {% elif content.similarity <= 60 and profile.similarity > 50 %}
                                                <span class="float-right badge bg-warning">{{ content.similarity }} %</span>
                                            {% elif content.similarity <= 50 %}
                                                <span class="float-right badge bg-danger">{{ content.similarity }} %</span>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    <script src="{% static 'src/js/jquery.dataTable.min.js' %}"></script>
                    <script src="{% static 'src/js/dataTables.bootstrap5.min.js' %}"></script>
                    <script>
                        new DataTable('#example', {
                            language: {
                                info: 'Mostrando página _PAGE_ de _PAGES_',
                                infoEmpty: 'No existen registros a mostrar',
                                infoFiltered: '(Buscado de _MAX_ registros total)',
                                lengthMenu: 'Mostrar _MENU_ registros por página',
                                zeroRecords: 'No existen registros - lo sentimos'
                            },
                            order: [[4, 'asc']],

                        });
                    </script>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script>
        // elimina la última coma de las habilidades
        arr = $(".abilities_text")
        for (let arrElement of arr) {
            arrElement.innerHTML = arrElement.innerHTML.trim().slice(0, -1)
        }
    </script>
{% endblock %}